<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="top">
      <%if(locals.data) {%>
        <div><%= data%></div>
      <%}%>
      <%if(locals.error) {%>
        <div><%= error%></div>
      <%}%>
      <form method="POST">
        <div>
          <label for="id">Id</label>
          <input type="text" name="id" />
          <label for="secret">Secret</label>
          <input type="text" name="secret" />
          <label for="score">Score</label>
          <input type="text" name="score" />
        </div>
        <input type="submit" formaction="/api-get" value="get" />
        <input type="submit" formaction="/api-post" value="post" />
        <input type="submit" formaction="/api-put" value="put" />
        <input type="submit" formaction="/api-patch" value="patch" />
        <input type="submit" formaction="/api-delete" value="delete" />
      </form>
    </div>

    <%- include('partials/footer')%>
  </body>
</html>
